h1 {
  margin-top: 8%;
  text-align: center;
}
.input {
  display: block;
  margin-top: 10%;
  margin-left: 25%;
  width: 50%;
}
.btn {
  margin-left: 37%;
  margin-top: 5%;
  border-radius: 15px;
  width: 20%;
}
.form-control {
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 15px;
}
.phone {
  border: solid 2px rgba(97, 89, 78, 0.207);
  border-radius: 15px;
  width: 100%;
}
img {
  height: 80vh;
  width: 25vw;
}
.search {
  margin-left: auto;
  float: left;
}
.container {
  margin-top: 5%;

  border-radius: 15px;
  background-color: white;
}
.register {
  background-color: rgba(255, 0, 0, 0.796);
}
.left {
  margin-bottom: 5%;
  float: left;
}
